*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #CCFFCC;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#top{
	width: 98%;
	height: 250px;
	border: 1px dashed red;
	position: absolute;
	margin-left: -49%;
	left: 50%;
	top: 0%;
}
.headVIew{
	width: 150px;
	height: 150px;
	margin-left: 60px;
	margin-top: 50px;
	border: 1px solid red;
}
.headContent{
	width: 150px;
	height: 32px;
	line-height: 32px;
	font-size: 32px;
	text-align: center;
	margin-top: 10px;
	margin-left: 60px;
}

#lead{
	width: 98%;
	height: 30px;
	border: 1px dashed red;
	position: absolute;
	margin-left: -49%;
	left: 50%;
	top: 43%;
}
a { color: #000; text-decoration: none; }
a:hover { color: #F00; }
#menu { width:380px; height:28px; border-bottom:3px solid #E10001;position: absolute;margin-left: -190px;left: 50%;
top: 42%;}
#menu ul { list-style: none; margin: 0px; padding: 0px; }
#menu ul li { float:left; margin-left:2px;}
#menu ul li a { display:block; width:87px; height:28px; line-height:28px; text-align:center; font-size:14px;}
#menu ul li a:hover {}
#menu ul li a#current { font-weight:bold; color:yellow;}
#menu ul li ul { border:1px solid #ccc; display:none; position:absolute;z-index: 100;}
#menu ul li ul li { float:none; width:87px; background:#eee; margin:0;}
#menu ul li ul li a { background:none;}
#menu ul li ul li a:hover { background:#333; color:#fff;}
#menu ul li:hover ul { display:block;}
#menu ul li.sfhover ul { display:block;}

#banner{
	width: 450px;
	height: 250px;
	border: 1px solid blue;
	position: absolute;
	margin-left: -225px;
	left: 50%;
	top: 50%;
	overflow: hidden;
}
#img1,#img2,#img3{
	width: 450px;
	height: 250px;
	position: absolute;
	margin-left: -225px;
	margin-top: -125px;
}
#img1{
	left: 50%;
	top: 50%;
}
#img2{
	left: 150%;
	top: 50%;
}
#img3{
	left: 150%;
	top: 50%;
}

#bottom{
	width: 450px;
	height: 24px;
	margin-left: -225px;
	margin-top: -24px;
	position: absolute;
	left: 50%;
	top: 100%;
	line-height: 24px;
	font-size: 24px;
	text-align: center;
}
