*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #CCFFCC;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#top{
	width: 99%;
	height: 150px;
	border: 1px red;
	border-style:dotted solid double dashed;
}
