/*.mAnim{ -webkit-animation: mAnim 2s linear infinite ;animation: mAnim 2s linear infinite ;}
@-webkit-keyframes mAnim {
    from{ -webkit-transform: rotate(0deg);}
    to{ -webkit-transform: rotate(360deg);}
}
@keyframes mAnim {
    from{ transform: rotate(0deg);}
    to{ transform: rotate(360deg);}
}*/
.show{-webkit-animation: show .5s;animation: show .5s; -webkit-animation-fill-mode: both;animation-fill-mode: both; }
@-webkit-keyframes show {
    0%{ opacity: 0;}
    100%{opacity: 1;}
}
@keyframes show {
    0%{ opacity: 0;}
    100%{opacity: 1;}
}
.hide{-webkit-animation: hide .5s;animation: hide .5s; -webkit-animation-fill-mode: both;animation-fill-mode: both; }
@-webkit-keyframes hide {
    0%{ opacity: 1;}
    100%{opacity: 0;}
}
@keyframes hide {
    0%{ opacity: 1;}
    100%{opacity: 0;}
}

@-webkit-keyframes zoomIn {
    0%{ -webkit-transform: scale(1);}
    100%{-webkit-transform: scale(1.1);}
}
@keyframes zoomIn {
    0%{ transform: scale(1);}
    100%{transform: scale(1.1);}
}

@-webkit-keyframes Y-50 {
    0%{ -webkit-transform: translateY(-25px); opacity: 0}
    100%{-webkit-transform: translateY(0px); opacity: 1}
}
@keyframes Y-50 {
    0%{ transform: translateY(-25px); opacity: 0}
    100%{transform: translateY(0px); opacity: 1}
}
@-webkit-keyframes Y50 {
    0%{ -webkit-transform: translateY(25px); opacity: 0}
    100%{-webkit-transform: translateY(0px); opacity: 1}
}
@keyframes Y50 {
    0%{ transform: translateY(25px); opacity: 0}
    100%{transform: translateY(0px); opacity: 1}
}
@-webkit-keyframes X50 {
    0%{ -webkit-transform: translateX(50px); opacity: 0}
    100%{-webkit-transform: translateX(0px); opacity: 1}
}
@keyframes X50 {
    0%{ transform: translateX(50px); opacity: 0}
    100%{transform: translateX(0px); opacity: 1}
}



@-webkit-keyframes moveToBottom {
    to { -webkit-transform: translateY(100%); }
}
@-moz-keyframes moveToBottom {
    to { -moz-transform: translateY(100%); }
}
@keyframes moveToBottom {
    to { transform: translateY(100%); }
}


@-webkit-keyframes moveToTop {
    to { -webkit-transform: translateY(-100%); }
}
@-moz-keyframes moveToTop {
    to { -moz-transform: translateY(-100%); }
}
@keyframes moveToTop {
    to { transform: translateY(-100%); }
}

.pt-page-moveToTop {
    -webkit-animation: moveToTop .6s ease both;
    -moz-animation: moveToTop .6s ease both;
    animation: moveToTop .6s ease both;
}

.pt-page-moveToBottom {
    -webkit-animation: moveToBottom .6s ease both;
    -moz-animation: moveToBottom .6s ease both;
    animation: moveToBottom .6s ease both;
}

/* 延展 and 淡入淡出 */

.pt-page-scaleDown {
    -webkit-animation: scaleDown .7s ease both;
    -moz-animation: scaleDown .7s ease both;
    animation: scaleDown .7s ease both;
}

.pt-page-scaleUp {
    -webkit-animation: scaleUp .7s ease both;
    -moz-animation: scaleUp .7s ease both;
    animation: scaleUp .7s ease both;
}

.pt-page-scaleUpDown {
    -webkit-animation: scaleUpDown .5s ease both;
    -moz-animation: scaleUpDown .5s ease both;
    animation: scaleUpDown .5s ease both;
}

.pt-page-scaleDownUp {
    -webkit-animation: scaleDownUp .5s ease both;
    -moz-animation: scaleDownUp .5s ease both;
    animation: scaleDownUp .5s ease both;
}

.pt-page-scaleDownCenter {
    -webkit-animation: scaleDownCenter .4s ease-in both;
    -moz-animation: scaleDownCenter .4s ease-in both;
    animation: scaleDownCenter .4s ease-in both;
}

.pt-page-scaleUpCenter {
    -webkit-animation: scaleUpCenter .4s ease-out both;
    -moz-animation: scaleUpCenter .4s ease-out both;
    animation: scaleUpCenter .4s ease-out both;
}

/********************************* keyframes **************************************/

/* 延展 and 淡入淡出 */

@-webkit-keyframes scaleDown {
    to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleDown {
    to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleDown {
    to { opacity: 0; transform: scale(.8); }
}

@-webkit-keyframes scaleUp {
    from { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleUp {
    from { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleUp {
    from { opacity: 0; transform: scale(.8); }
}

@-webkit-keyframes scaleUpDown {
    from { opacity: 0; -webkit-transform: scale(1.2); }
}
@-moz-keyframes scaleUpDown {
    from { opacity: 0; -moz-transform: scale(1.2); }
}
@keyframes scaleUpDown {
    from { opacity: 0; transform: scale(1.2); }
}

@-webkit-keyframes scaleDownUp {
    to { opacity: 0; -webkit-transform: scale(1.2); }
}
@-moz-keyframes scaleDownUp {
    to { opacity: 0; -moz-transform: scale(1.2); }
}
@keyframes scaleDownUp {
    to { opacity: 0; transform: scale(1.2); }
}

@-webkit-keyframes scaleDownCenter {
    to { opacity: 0; -webkit-transform: scale(.7); }
}
@-moz-keyframes scaleDownCenter {
    to { opacity: 0; -moz-transform: scale(.7); }
}
@keyframes scaleDownCenter {
    to { opacity: 0; transform: scale(.7); }
}

@-webkit-keyframes scaleUpCenter {
    from { opacity: 0; -webkit-transform: scale(.7); }
}
@-moz-keyframes scaleUpCenter {
    from { opacity: 0; -moz-transform: scale(.7); }
}
@keyframes scaleUpCenter {
    from { opacity: 0; transform: scale(.7); }
}
.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slide,
.no-js .pt-page {
    visibility: visible;
}
