<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>code.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{233,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,233}}</string>
                <key>sourceSize</key>
                <string>{233,233}</string>
            </dict>
            <key>focus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{497,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,112}}</string>
                <key>sourceSize</key>
                <string>{497,112}</string>
            </dict>
            <key>left_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,222},{222,271}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,271}}</string>
                <key>sourceSize</key>
                <string>{222,273}</string>
            </dict>
            <key>left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,116},{104,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,161}}</string>
                <key>sourceSize</key>
                <string>{104,161}</string>
            </dict>
            <key>right_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{194,274}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,274}}</string>
                <key>sourceSize</key>
                <string>{194,280}</string>
            </dict>
            <key>right_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,495},{120,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{120,106}}</string>
                <key>sourceSize</key>
                <string>{120,124}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{334,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,76}}</string>
                <key>sourceSize</key>
                <string>{334,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fifthPage.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1a0ac5b89816172f89e3a320b179746:1/1$</string>
            <key>textureFileName</key>
            <string>fifthPage.png</string>
        </dict>
    </dict>
</plist>
