<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{47,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,36}}</string>
                <key>sourceSize</key>
                <string>{47,36}</string>
            </dict>
            <key>block_left down.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,318},{270,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,446}}</string>
                <key>sourceSize</key>
                <string>{270,446}</string>
            </dict>
            <key>block_left up.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{314,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,353}}</string>
                <key>sourceSize</key>
                <string>{314,353}</string>
            </dict>
            <key>block_right down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{623,447}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,447}}</string>
                <key>sourceSize</key>
                <string>{623,447}</string>
            </dict>
            <key>block_right up.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,451},{134,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,198}}</string>
                <key>sourceSize</key>
                <string>{134,198}</string>
            </dict>
            <key>font_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,766},{228,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,142}}</string>
                <key>sourceSize</key>
                <string>{228,142}</string>
            </dict>
            <key>font_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{462,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,278}}</string>
                <key>sourceSize</key>
                <string>{462,278}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,587},{125,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,186}}</string>
                <key>sourceSize</key>
                <string>{125,186}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>music_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,915},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>firstPage.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fb08e2b1a4f04199a7c684da0e788b9:1/1$</string>
            <key>textureFileName</key>
            <string>firstPage.png</string>
        </dict>
    </dict>
</plist>
