<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_hover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{291,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,95}}</string>
                <key>sourceSize</key>
                <string>{291,95}</string>
            </dict>
            <key>button_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{291,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,95}}</string>
                <key>sourceSize</key>
                <string>{291,95}</string>
            </dict>
            <key>destination_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,196},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{21,21}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>destination_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,196},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{124,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,157}}</string>
                <key>sourceSize</key>
                <string>{124,157}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{207,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,207}}</string>
                <key>sourceSize</key>
                <string>{207,207}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forthPage.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb35038198f4888409c4d3ee86f734e9:1/1$</string>
            <key>textureFileName</key>
            <string>forthPage.png</string>
        </dict>
    </dict>
</plist>
