<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>block_left_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,284},{243,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,381}}</string>
                <key>sourceSize</key>
                <string>{243,381}</string>
            </dict>
            <key>block_left_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{257,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,169}}</string>
                <key>sourceSize</key>
                <string>{257,169}</string>
            </dict>
            <key>block_right_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{280,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,389}}</string>
                <key>sourceSize</key>
                <string>{280,389}</string>
            </dict>
            <key>block_right_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{255,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,173}}</string>
                <key>sourceSize</key>
                <string>{255,173}</string>
            </dict>
            <key>font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{546,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,379}}</string>
                <key>sourceSize</key>
                <string>{546,379}</string>
            </dict>
            <key>line_left down.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,783},{237,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,250}}</string>
                <key>sourceSize</key>
                <string>{237,250}</string>
            </dict>
            <key>line_left up.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,529},{167,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,250}}</string>
                <key>sourceSize</key>
                <string>{167,250}</string>
            </dict>
            <key>line_right down.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,529},{168,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,252}}</string>
                <key>sourceSize</key>
                <string>{168,252}</string>
            </dict>
            <key>line_right up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{132,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,156}}</string>
                <key>sourceSize</key>
                <string>{132,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>secondPage.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d97b95c6a6daa04f14a9edb59d67152:1/1$</string>
            <key>textureFileName</key>
            <string>secondPage.png</string>
        </dict>
    </dict>
</plist>
