<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Afternoon font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{343,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,67}}</string>
                <key>sourceSize</key>
                <string>{343,67}</string>
            </dict>
            <key>all day font.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,683},{308,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,70}}</string>
                <key>sourceSize</key>
                <string>{308,70}</string>
            </dict>
            <key>block_left_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,570}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,570}}</string>
                <key>sourceSize</key>
                <string>{280,570}</string>
            </dict>
            <key>block_left_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,574},{136,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,107}}</string>
                <key>sourceSize</key>
                <string>{136,107}</string>
            </dict>
            <key>block_right_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{232,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,240}}</string>
                <key>sourceSize</key>
                <string>{232,240}</string>
            </dict>
            <key>block_right_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,770},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>circle_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,176},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>circle_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,89},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,85}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>circle_org.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,85}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>circle_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,683},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,85}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>morning font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{358,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,110}}</string>
                <key>sourceSize</key>
                <string>{358,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thirdPage.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ca436cb42067f1030d13a79dd81f9aa:1/1$</string>
            <key>textureFileName</key>
            <string>thirdPage.png</string>
        </dict>
    </dict>
</plist>
