<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy001_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,0},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_back3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_front1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_front2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,0},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_front3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,70},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,70},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,70},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,70},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>enemy001_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,70},{40,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,70}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>enemy001.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1269a2602453b36cb71d792e82e2c72f:04e6b2c9b3cb48bc072e9f32b556680e:0e556067f91d62242bbcc8a39bcef4c3$</string>
            <key>textureFileName</key>
            <string>enemy001.png</string>
        </dict>
    </dict>
</plist>
