<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aboutus-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1272},{255,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,83}}</string>
                <key>sourceSize</key>
                <string>{261,97}</string>
            </dict>
            <key>aboutus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1272},{255,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,83}}</string>
                <key>sourceSize</key>
                <string>{261,97}</string>
            </dict>
            <key>aboutus1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,633},{346,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,111}}</string>
                <key>sourceSize</key>
                <string>{350,113}</string>
            </dict>
            <key>aboutus1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,746},{346,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,111}}</string>
                <key>sourceSize</key>
                <string>{350,113}</string>
            </dict>
            <key>ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,462},{720,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,169}}</string>
                <key>sourceSize</key>
                <string>{720,169}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{67,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,30}}</string>
                <key>sourceSize</key>
                <string>{67,30}</string>
            </dict>
            <key>bg_win.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>cake0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,132},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>cake1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,2},{128,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,132}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,867},{403,265}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{403,265}}</string>
                <key>sourceSize</key>
                <string>{427,275}</string>
            </dict>
            <key>correct.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,746},{344,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,263}}</string>
                <key>sourceSize</key>
                <string>{344,263}</string>
            </dict>
            <key>exchange-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,1198},{255,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,83}}</string>
                <key>sourceSize</key>
                <string>{261,97}</string>
            </dict>
            <key>exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,941},{255,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,83}}</string>
                <key>sourceSize</key>
                <string>{261,97}</string>
            </dict>
            <key>fengo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,516},{92,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,35},{92,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>fenko.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,859},{94,80}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,44},{94,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>g_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{720,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1280}}</string>
                <key>sourceSize</key>
                <string>{720,1280}</string>
            </dict>
            <key>hit-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,633},{346,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,111}}</string>
                <key>sourceSize</key>
                <string>{350,113}</string>
            </dict>
            <key>hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,610},{346,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,111}}</string>
                <key>sourceSize</key>
                <string>{350,113}</string>
            </dict>
            <key>life.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,1011},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>m_more-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,516},{350,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,113}}</string>
                <key>sourceSize</key>
                <string>{350,113}</string>
            </dict>
            <key>m_more.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,375},{346,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,111}}</string>
                <key>sourceSize</key>
                <string>{350,113}</string>
            </dict>
            <key>more-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,2},{255,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,83}}</string>
                <key>sourceSize</key>
                <string>{261,97}</string>
            </dict>
            <key>more.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{255,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,83}}</string>
                <key>sourceSize</key>
                <string>{261,97}</string>
            </dict>
            <key>q-mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,633},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>replay-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,2},{255,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,83}}</string>
                <key>sourceSize</key>
                <string>{261,97}</string>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{255,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,83}}</string>
                <key>sourceSize</key>
                <string>{261,97}</string>
            </dict>
            <key>share-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,259},{255,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,83}}</string>
                <key>sourceSize</key>
                <string>{261,97}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1199,2},{255,83}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,83}}</string>
                <key>sourceSize</key>
                <string>{261,97}</string>
            </dict>
            <key>share_popup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,633},{599,339}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,25},{599,339}}</string>
                <key>sourceSize</key>
                <string>{637,395}</string>
            </dict>
            <key>share_popup_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,859},{299,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,68}}</string>
                <key>sourceSize</key>
                <string>{299,68}</string>
            </dict>
            <key>share_popup_cancel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,1007},{299,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,68}}</string>
                <key>sourceSize</key>
                <string>{299,68}</string>
            </dict>
            <key>share_popup_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{1974,706},{299,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,68}}</string>
                <key>sourceSize</key>
                <string>{299,68}</string>
            </dict>
            <key>share_popup_ok2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,958},{299,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,68}}</string>
                <key>sourceSize</key>
                <string>{299,68}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1189,596},{269,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,87}}</string>
                <key>sourceSize</key>
                <string>{269,87}</string>
            </dict>
            <key>start1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,262},{346,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,111}}</string>
                <key>sourceSize</key>
                <string>{350,113}</string>
            </dict>
            <key>start1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,262},{346,111}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{346,111}}</string>
                <key>sourceSize</key>
                <string>{350,113}</string>
            </dict>
            <key>tips.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{720,458}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,458}}</string>
                <key>sourceSize</key>
                <string>{720,458}</string>
            </dict>
            <key>wrong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1011},{274,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,270}}</string>
                <key>sourceSize</key>
                <string>{274,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:605fc32a4ea3366ae1400747621aaf58$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
