<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy/die/030001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,77},{98,72}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,39},{98,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>enemy/die/030002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{110,100}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{110,100}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>enemy/die/030003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,120}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{146,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>enemy/move/020001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{100,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,73}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>enemy/move/020002.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,151},{98,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{98,71}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>enemy/move/020003.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{100,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,71}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>enemy/move/020004.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,104},{98,71}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,71}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>loading/benko/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,163},{58,86}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,8},{58,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/benko/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,407},{56,86}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{56,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/benko/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,407},{56,86}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{56,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/benko/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{56,86}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{56,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/benko/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{56,86}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{56,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/benko/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,349},{56,86}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,8},{56,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/benko/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,310},{56,86}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,8},{56,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/benko/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,224},{56,86}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,8},{56,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/sanji/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{86,86}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/sanji/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,263},{90,84}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{90,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/sanji/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,163},{94,86}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{94,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/sanji/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,177},{96,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{96,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/sanji/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,75},{98,86}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/sanji/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{96,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{96,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/sanji/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{94,86}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{94,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>loading/sanji/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,224},{90,84}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{90,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afaebd11aa0335c7b6a19f03e862833a$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
