<!DOCTYPE html>
<html>
<head>
    <title>深圳印象</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

    <script type="text/javascript">
        (function(design, selectors){
            var width = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
            var scale = width / design;

            var style = '<style type="text/css">\n';

            for(var i = 0; i < selectors.length; i++){
              style += selectors[i].selector + '{\n'
                    + '     -moz-transform-origin: ' + selectors[i].origin + ';\n'
                    + '  -webkit-transform-origin: ' + selectors[i].origin + ';\n'
                    + '          transform-origin: ' + selectors[i].origin + ';\n'
                    + '     -moz-transform: scale(' + scale + ');\n'
                    + '  -webkit-transform: scale(' + scale + ');\n'
                    + '          transform: scale(' + scale + ');\n'
                    + '}\n';
            }

            style += '</style>\n';

            document.open();
            document.write(style);
            document.close();
        })(640, [{"selector": ".popBox", "origin": "50% 50% 0"}]);
    </script>
    <script type="text/javascript">
        document.ccConfig = {
            "debugMode"     : 1,
            "frameRate"     : 60,
            "id"            : "gameCanvas",
            "renderMode"    : 1,
            "jsList"        : []
        };
        var system = {
            version : '',//资源版本号
            wx_id : '<%=user_me.id%>',//用户微信openid
            nick_name : '<%=user_me.name%>',//用户微信名
            share_open_id : '<%=user_share.id%>',//分享者的openId
            share_nick_name : '<%=user_share.name%>',//分享者的微信名
            share_url : '<%=share_url%>',//分享链接
            share_title : '<%=share_title%>',//分享标题
            share_title_end : '<%=share_title%>',//分享标题
            share_desc : '<%=share_desc%>',//分享描述
            share_desc_end : '<%=share_desc%>',//分享描述
            share_icon : '<%=share_icon%>',//分享icon

            is_share_page : '<%=is_share_page%>',//是否为分享页：false 非，true 是  (bool)
            is_user_info : '<%=is_user_info%>',//是否已录入用户信息：false没有，true有（bool）

            ajaxStartGameURL : '/games/<%=game_name%>/startGame',//开启游戏接口
            ajaxUserInfoURL : '/games/<%=game_name%>/userInfo',//提交用户信息接口
            ajaxDoingGameURL : '/games/<%=game_name%>/doingGame',//提交成绩接口
            ajaxRankingListURL : '/games/<%=game_name%>/rankingList',//排行榜接口
            ajaxGetPrizeListURL : '/games/<%=game_name%>/getPrizeList',//奖品列表接口
            ajaxGetPrizeURL : '/games/<%=game_name%>/getPrize'//领取奖品接口
        }
    </script>
    
    <link rel="stylesheet" href="../../static/flybird/css/game.min.css">

<body  style="background-color:#000">
    <canvas id="gameCanvas" width="640" height="1024"></canvas>

    <!-- 加载 -->
    <div class="popParent hide loadingPage">
      <div class="popBox" style="width:640px;margin-left:-320px;">
        <div class="loadingBox">
          <p><img class="" src=""></p>

          <span class="U-1">M</span>
          <span class="U-2">G</span>
          <span class="U-3">B</span>
          <span class="U-4">.</span>
          <span class="U-5">C</span>
          <span class="U-6">O</span>
          <span class="U-6">M</span>
        </div>
      </div>
    </div>

    <!-- 开始页 -->
    <div class="popParent  beginPage">
      <div class="popBox">
        <div class="beginContentParent">
            <img src="../../static/flybird/res/beginBtn.png" class="beginBtn beginAni animated">
            <img src="../../static/flybird/res/record_btn.png" class="record_btn _bounceInUp_1 animated">
            <img src="../../static/flybird/res/rule_btn.png" class="rule_btn _bounceInUp_2 animated">
        </div>
      </div>
    </div>

    <!-- 活动说明 -->
    <div class="popParent hide rulePage" style="z-index:100;">
      <div class="popBox">
        <div class="ruleContentParent commonContentParent">
            <div id="rule_wrapper" class="ruleContent">
              <div>
                <img src="../../static/flybird/res/img/ruleContent.png">
              </div>
            </div>
            <img src="../../static/flybird/res/img/close_btn.png" class="rule_close_btn">
        </div>
      </div>
    </div>

    <!-- 排行榜 -->
    <div class="popParent hide phbPage" style="z-index:100;">
      <div class="popBox">
        <div class="phbContentParent commonContentParent">
            <img src="../../static/flybird/res/img/prize_title.png" class="prize_title">
            <div id="phb_wrapper" class="phbContent">
                <ul>
                    <li>
                        <span>99</span>
                        <!-- <span>
                            <img src="../../static/flybird/res/img/head.jpg" class="headImg">
                        </span> -->
                        <span>奖品昵称</span>
                        <span>12/12</span>
                    </li>
                </ul>
            </div>
            <div class="pageParent">
              <div>上一页</div>
              <div>1/1</div>
              <div>下一页</div>
            </div>
            <img src="../../static/flybird/res/img/close_btn.png" class="phb_close_btn">
            <!-- <div class="myScore">
                 <span class="myScore_num">---</span>
                 <span class="myScore_name">---</span>
                 <span class="myScore_score">---</span>
            </div> -->
        </div>
      </div>
    </div>

    <!-- 登记信息 -->
    <div class="popParent hide infoPage">
      <div class="popBox">
        <div class="infoContentParent">
          <!-- <img src="../../static/flybird/res/img/close.png" class="info_close_btn"> -->
          <p class="getInfoTitle">填写联系人信息</p>
          <div class="inofContent">
            <input class="user_name inputCommon" name="名字" placeholder='请输入姓名' />
            <input class="user_phone inputCommon" name="电话" placeholder='请输入11位手机号' />
          </div>
          <img src="../../static/flybird/res/img/submit.png" class="info_send_btn">
        </div>
      </div>
    </div>

    <!-- 信息提交成功 -->
    <div class="popParent hide successPage">
      <div class="popBox">
        <div class="successSendParent">
          <img src="../../static/flybird/res/img/success_title.png" class="success_title">
          <img src="../../static/flybird/res/img/close_btn.png" class="success_close">
        </div>
      </div>
    </div>

    <!-- 中态 -->
    <div class="popParent hide middlePage">
      <div class="popBox">
        <div class="middleContentParent">
          <div class="pacman middleChild">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="middleContentTip">
            主银，骚等...
          </div>
        </div>
      </div>
    </div>

    <!-- 挑战成功 -->
    <div class="popParent hide endPage">
      <div class="popBox">
        <div class="endContentParent" data-type="1">
          <img src="../../static/flybird/res/img/end_success_title.png" alt="" class="end_success_title" />
          <div class="endContent">
            <span class="endContent_num">恭喜你本次挑战总分为---分 </span>
            <span class="endContent_score">超过---玩家,</span>
            <span class="endContent_best">获得一次拆礼包机会,点击有惊喜！</span>
          </div>
          <img src="../../static/flybird/res/img/lottery_btn.png" alt="" class="lottery-1" />
          <img src="../../static/flybird/res/img/lottery_btn.png" alt="" class="lottery-2" />
          <img src="../../static/flybird/res/img/lottery_btn.png" alt="" class="lottery-3" />
        </div>
      </div>
    </div>

    <!-- 游戏结束 -->
    <div class="popParent hide gameEndPage">
      <div class="popBox">
        <div class="gameEndParent" data-type="1">
          <img src="../../static/flybird/res/img/game_end_2.png" alt="" class="game_end_title" />
          <div class="gameEndContent">
            <span class="endContent_num">本次分数：--分</span>
            <span class="endContent_score">最高分数为--分</span>
            <span class="endContent_best">最佳排名为：--名</span>
          </div>
          <img src="../../static/flybird/res/img/more_btn.png" alt="" class="more_btn" />
          <img src="../../static/flybird/res/img/replay_btn.png" alt="" class="replay_btn" />
        </div>
      </div>
    </div>

    <!-- 谢谢参与 -->
    <div class="popParent hide thxPage">
      <div class="popBox">
        <div class="thxParent">
          <img src="../../static/flybird/res/img/thx_title.png" class="thx_title">
          <img src="../../static/flybird/res/img/close_btn.png" class="thx_close">
        </div>
      </div>
    </div>

    <!-- 中奖 -->
    <div class="popParent hide lotterSuccessPage">
      <div class="popBox">
        <div class="lotterSuccessParent">
          <div class="lotteryContent">
            <span class="lottery_title">恭喜！</span>
            <span class="lottery_desc">恭喜！ 获得BOSS优雅羊毛被一张</span>
          </div>
          <img src="../../static/flybird/res/img/lottery-icon.png" alt="" class="lottery-icon" />
          <img src="../../static/flybird/res/img/lottery-send.png" alt="" class="lottery-send" />
        </div>
      </div>
    </div>

    <!-- 提示页 -->
    <div class="popParent hide alertPage">
      <div class="popBox">
        <div class="alertContentParent">
          <div class="alertContent">
            
          </div>
        </div>
      </div>
    </div>

    <!-- 分享页 -->
    <div class="popParent hide sharePage">
      <div class="popBox">
        <div>
          <img src="../../static/flybird/res/img/shareTxt.png" alt="" class="shareTxt" />
        </div>
      </div>
    </div>

    <!--音乐控制-->
    <div id="musicCtrl" class="mRb mAnim">
        <img src="../../static/flybird/res/img/music2.png" alt="" />
        <img class="music1" src="../../static/flybird/res/img/music1.png" alt="" />
    </div>
    
    <script src="../../static/flybird/js/lib.min.js"></script>
</body>

  <script type="text/javascript">
      var hostName = "";
      var g_resources = [];
      var res = {
          loadingPage: hostName+"../../static/flybird/res/loadingPage.jpg",
          bg: hostName+"../../static/flybird/res/bg.jpg",
          beiying: hostName+"../../static/flybird/res/beiying.png",
          ani: hostName+"../../static/flybird/res/ani.png",
          ani1: hostName+"../../static/flybird/res/ani1.png",

          beginBtn: hostName+"../../static/flybird/res/beginBtn.png",
          beginBg: hostName+"../../static/flybird/res/beginBg.jpg",

          knowBtn: hostName+"../../static/flybird/res/knowBtn.png",
          ruleBg: hostName+"../../static/flybird/res/ruleBg.jpg",

          cloud: hostName+"../../static/flybird/res/cloud.png",

          beiying: hostName+"../../static/flybird/res/beiying.png",
          moveBg: hostName+"../../static/flybird/res/moveBg.png",

          bottomBg: hostName+"../../static/flybird/res/bottom.png",
          road: hostName+"../../static/flybird/res/road.jpg",

          bus: hostName+"../../static/flybird/res/bus.png",
          car: hostName+"../../static/flybird/res/car.png",

          down: hostName+"../../static/flybird/res/down.png",
          up: hostName+"../../static/flybird/res/up.png",

          record_btn:"../../static/flybird/res/record_btn.png",//排行榜按钮
          // prizeBtn:"../../static/flybird/res/img/prizeBtn.png",//奖品列表按钮
          rule_btn:"../../static/flybird/res/rule_btn.png"//活动规则按钮
      };
      for (var i in res) {
          g_resources.push(res[i]);
      }
  </script>
  
  <script src="../../static/flybird/js/game.min.js"></script>
</html>

    
