{% if page.layout == 'archives' %}
<section class="post {{ item.date | date: "%Y-%m" }}" itemscope itemprop="blogPost">
{% elsif page.layout == 'categories' %}
<section class="post {% for category in item.categories %}{{ category }} {% endfor %}" itemscope itemprop="blogPost">
{% elsif page.layout == 'tags' %}
<section class="post {% for tag in item.tags %}{{ tag }} {% endfor %}" itemscope itemprop="blogPost">
{% else %}
<section class="post" itemscope itemprop="blogPost">
{% endif %}

  {% if item.link %}
    <a href="{{ item.link }}" target="_blank"> 
  {% else %}
    <a href="{{ site.baseurl }}{{ item.url }}" title="{{ item.title }}" itemprop="url">
  {% endif %}

    <time datetime="{{ item.date }}" itemprop="datePublished">{{ item.date | date: lang.archive_date }}</time>


    <h1 itemprop="name">{% if item.title %}{{ item.title }}{% else %}&nbsp;{% endif %}</h1>

  </a>
</section>