<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>defaultHead.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{560,644},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,484},{480,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{480,100}}</string>
                <key>sourceSize</key>
                <string>{482,102}</string>
            </dict>
            <key>line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{480,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{480,100}}</string>
                <key>sourceSize</key>
                <string>{482,102}</string>
            </dict>
            <key>listBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{556,920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,920}}</string>
                <key>sourceSize</key>
                <string>{556,920}</string>
            </dict>
            <key>phbstar.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,227},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>rank_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,846},{116,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,67}}</string>
                <key>sourceSize</key>
                <string>{116,67}</string>
            </dict>
            <key>rank_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,846},{115,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,66}}</string>
                <key>sourceSize</key>
                <string>{115,66}</string>
            </dict>
            <key>rank_closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,484},{131,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,56}}</string>
                <key>sourceSize</key>
                <string>{131,56}</string>
            </dict>
            <key>rank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,915},{68,78}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{68,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rank_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,86},{54,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{54,82}</string>
            </dict>
            <key>rank_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{54,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{54,82}</string>
            </dict>
            <key>rank_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,963},{54,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{54,82}</string>
            </dict>
            <key>rank_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,170},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,915},{90,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,36}}</string>
                <key>sourceSize</key>
                <string>{90,36}</string>
            </dict>
            <key>star_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,966},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{640,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,124}}</string>
                <key>sourceSize</key>
                <string>{640,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_phb.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ea25c489433940c07ac560d337f7f0d$</string>
            <key>textureFileName</key>
            <string>game_phb.png</string>
        </dict>
    </dict>
</plist>
