<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lotteryBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,540},{248,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,205}}</string>
                <key>sourceSize</key>
                <string>{248,205}</string>
            </dict>
            <key>lotteryBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,839},{248,181}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{248,181}}</string>
                <key>sourceSize</key>
                <string>{248,205}</string>
            </dict>
            <key>lottery_Turntable_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{513,579}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,579}}</string>
                <key>sourceSize</key>
                <string>{513,579}</string>
            </dict>
            <key>lottery_Turntable_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{468,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,468}}</string>
                <key>sourceSize</key>
                <string>{468,468}</string>
            </dict>
            <key>lottery_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,40},{233,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,20}}</string>
                <key>sourceSize</key>
                <string>{233,20}</string>
            </dict>
            <key>lottery_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,472},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>lottery_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,472},{63,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,59}}</string>
                <key>sourceSize</key>
                <string>{63,59}</string>
            </dict>
            <key>lottery_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,967},{55,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,67}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>lottery_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,472},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>lottery_pointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,472},{142,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,171}}</string>
                <key>sourceSize</key>
                <string>{142,171}</string>
            </dict>
            <key>lottery_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,2},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>lottery_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,583},{254,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,138}}</string>
                <key>sourceSize</key>
                <string>{254,138}</string>
            </dict>
            <key>lottery_turn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,583},{382,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,374}}</string>
                <key>sourceSize</key>
                <string>{382,374}</string>
            </dict>
            <key>lottery_turret.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,790},{208,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,171}}</string>
                <key>sourceSize</key>
                <string>{208,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_lottery.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3820247706bfc8277a513b9c10db9505$</string>
            <key>textureFileName</key>
            <string>game_lottery.png</string>
        </dict>
    </dict>
</plist>
