<div id="main">
{% for post in paginator.posts %}
  {% assign item = post %}
  {% assign index = true %}
  {% assign desc = true %}
  {% include _partial/article.html %}
{% endfor %}
{% if paginator.posts | size > 1 %}
  <nav id="page-nav" class="clearfix{% if site.index.expand != true  %} unexpand{% endif %}">
  <nav id="page-nav" class="clearfix">
    {% if paginator.previous_page %}
    <a class="extend prev" rel="prev" href="{{ paginator.previous_page_path }}"><span></span>Prev</a>
    {% endif %}
    {% if paginator.page == 1 %}
    <span class="page-number current">1</span>
    {% else %}
    <a class="page-number" href="/">1</a>
    {% endif %}
    {% for i in (2..paginator.total_pages) %}
    {%if i == paginator.page %}
    <span class="page-number current">{{ i }}</span>
    {% else %}
    <a class="page-number" href="/page{{ i }}">{{ i }}</a>
    {% endif %}
    {% endfor %}
     {% if paginator.next_page %}
    <a class="extend next" rel="next" href="{{ paginator.next_page_path }}">Next<span></span></a>
    {% endif %}
  </nav>
  </nav>
{% endif %}
</div>