<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bone_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,246},{86,118}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{86,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,504},{70,118}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{70,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{74,122}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{74,122}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{72,126}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{72,126}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,384},{58,120}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{58,120}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,512},{70,120}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{70,120}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{92,122}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{92,122}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,258},{82,124}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{82,124}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,874},{78,112}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,366},{76,116}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{76,116}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,878},{82,118}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{82,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,754},{72,118}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{72,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,634},{78,118}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,8},{78,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,246},{66,116}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{66,116}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{66,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{66,126}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{82,124}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{82,124}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,230},{90,110}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{90,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,844},{82,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{82,106}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,740},{72,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{72,112}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,234},{82,112}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{82,112}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,504},{98,116}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{98,116}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,238},{82,114}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{82,114}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,624},{62,118}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,13},{62,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,118},{80,114}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{80,114}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,572},{86,108}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{86,108}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,682},{82,104}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{82,104}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,226},{76,108}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{76,108}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,622},{104,110}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{104,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{82,110}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,22},{82,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,348},{90,110}}</string>
                <key>offset</key>
                <string>{8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{90,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,116},{84,110}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,19},{84,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,454},{84,108}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{84,108}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{86,106}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,25},{86,106}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,740},{70,112}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{70,112}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,228},{74,110}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,18},{74,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,114},{70,110}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,15},{70,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,854},{58,110}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,22},{58,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,854},{70,112}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,24},{70,112}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,734},{92,108}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{92,108}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,354},{82,112}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{82,112}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{78,112}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,340},{76,108}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{76,108}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,116},{80,112}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{80,112}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,114},{72,108}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,11},{72,108}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,342},{78,110}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{78,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,952},{66,104}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{66,104}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,952},{66,106}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,17},{66,106}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{82,112}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{82,112}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,126},{90,118}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{90,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_7_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{82,114}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,17},{82,114}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_7_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,754},{72,118}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,13},{72,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_7_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,122},{82,114}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{82,114}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_7_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,468},{98,110}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{98,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_7_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,844},{82,106}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{82,106}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_7_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{62,110}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{62,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_7_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,460},{80,110}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{80,110}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{86,118}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{86,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{82,118}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{82,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,130},{76,124}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{76,124}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,126}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,126}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,622},{84,116}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{84,116}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,384},{90,118}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{90,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{84,118}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{84,118}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
            <key>bone_8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{84,120}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{84,120}}</string>
                <key>sourceSize</key>
                <string>{120,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bone.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5b60675d943c2cac96223195484ee23:1/1$</string>
            <key>textureFileName</key>
            <string>bone.png</string>
        </dict>
    </dict>
</plist>
