html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

    #XJClose{
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
        position: absolute;
        top: 13%;
        left: 90%;
    }
/* i4 */
@media screen and (max-height: 480px) {
    #haibao{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        overflow: hidden;
        background-color: rgba(0,0,0,.5);
        display: none;
    }
    #haibaoContent{
        width: 320px;
        height: 420px;
        margin-left: -160px;
        margin-top: -210px;
        position: absolute;
        top: 50%;
        left:50%; 
    }
    #logo{
        width: 314px;
        height: 56px;
        margin-left: -157px;
        margin-top: -28px;
        position: absolute;
        left: 50%;
        top: 95%;
    }
    #title{
        width: 312px;
        height: 160px;
        margin-left: -156px;
        margin-top: -80px;
        position: absolute;
        top: -10%;
        left: 50%;
    }
    #gouBtn,#xijieBtn,#iLikeBtn{
        width: 70px;
        height: 70px;
        margin-left: -35px;
        margin-top: -35px;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
    }
    /*#iLikeBtn{
        top: 70%;
        left: 50%;
    }
    #gouBtn{
        top: 45%;
        left: 14%;
    }
    #xijieBtn{
        top: 73%;
        left: 15%;
    }*/
    .carrond1,.carrond2,.carrond5{
        width: 90px;
        height:90px;
        background: url("../res/carround.png");
        background-size: 100% 100%;
        position: absolute;
        margin-left: -45px;
        margin-top: -45px;
        display: none;

        animation:r1first 60s infinite linear;
        -webkit-animation:r1first 60s infinite linear;
    }
    .carrond3,.carrond4,.carrond6{
        width: 80px;
        height:80px;
        background: url("../res/carround.png");
        background-size: 100% 100%;
        position: absolute;
        margin-left: -40px;
        margin-top: -40px;
        display: none;

        animation:r1firstR 60s infinite linear;
        -webkit-animation:r1firstR 60s infinite linear;
    }
    #moveToRight1,#moveToRight2{
        width: 320px;
        height: 100px;
        margin-top: -50px;
        position: absolute;
        top: 30%;
    }
    #moveToRight1{
        left: 0%;
    }
    #moveToRight2{
        left: -100%;
    }
    #checkArr{
        width: 320px;
        height: 180px;
        margin-left: -160px;
        margin-top: -90px;
        position: absolute;
        top: 83%;
        left: 50%;
        /*border: 1px solid red;*/
        background: url(../res/checkBg.png) no-repeat;
        background-size: 320px 180px;
    }
    #check1,#check2,#check3,#check4,#check1Y,#check2Y,#check3Y,#check4Y,#check1N,#check2N,#check3N,#check4N{
        width: 150px;
        height: 65px;
        /*border: 1px solid blue;*/
        color: white;
        line-height: 30px;
        text-align: center;
        z-index: 1000;
    }
    /* 常态 */
    #check1Y,#check2Y,#check3Y,#check4Y,#check1N,#check2N,#check3N,#check4N{
        display: none;
    }
    #check1{
        margin-left: 10px;
        margin-top:-128px;
        float: left;
        background: url(../res/checkBg1.png) no-repeat;
        background-size: 150px 65px;
    }
    #check2{
        margin-left: 165px;
        margin-top: -128px;
        background: url(../res/checkBg2.png) no-repeat;
        background-size: 150px 65px;
    }
    #check3{
        margin-left: 10px;
        margin-top: -62px;
        float: left;
        background: url(../res/checkBg3.png) no-repeat;
        background-size: 150px 65px;
    }
    #check4{
        margin-left: 165px;
        margin-top: 1px;
        background: url(../res/checkBg4.png) no-repeat;
        background-size: 150px 65px;
    }
    /* 正确 */
    #check1Y{
        margin-left: 10px;
        margin-top:-130.5px;
        float: left;
        background: url(../res/checkBg1Y.png) no-repeat;
        background-size: 150px 65px;
    }
    #check2Y{
        margin-left: 165px;
        margin-top:-130.5px;
        background: url(../res/checkBg2Y.png) no-repeat;
        background-size: 150px 65px;
    }
    #check3Y{
        margin-left: 10px;
        margin-top: -64.5px;
        float: left;
        background: url(../res/checkBg3Y.png) no-repeat;
        background-size: 150px 65px;
    }
    #check4Y{
        margin-left: 165px;
        margin-top: -64.5px;
        background: url(../res/checkBg4Y.png) no-repeat;
        background-size: 150px 65px;
    }
    /* 错误 */
    #check1N{
        margin-left: 10px;
        margin-top:-130.5px;
        float: left;
        background: url(../res/checkBg1N.png) no-repeat;
        background-size: 150px 65px;
    }
    #check2N{
        margin-left: 165px;
        margin-top:-130.5px;
        background: url(../res/checkBg2N.png) no-repeat;
        background-size: 150px 65px;
    }
    #check3N{
        margin-left: 10px;
        margin-top: -64.5px;
        float: left;
        background: url(../res/checkBg3N.png) no-repeat;
        background-size: 150px 65px;
    }
    #check4N{
        margin-left: 165px;
        margin-top: -64.5px;
        background: url(../res/checkBg4N.png) no-repeat;
        background-size: 150px 65px;
    }
    #check11,#check21,#check31,#check41{
        display: block;
        /*border: 1px solid red;*/
        width: 130px;
        height: 50px;
        z-index: 10;
        color: rgba(0,0,0,0);
    }
    #check11{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-top: 35px;
        margin-left: 20px;
        float: left;
    }
    #check21{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-top: 35px;
        margin-left: 175px;
    }
    #check31{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-left: 20px;
        margin-top: 15px;
        float: left;
    }
    #check41{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-left: 175px;
        margin-top: 15px;
    }
    #neirong{
        width: 260px;
        height: 400px;
        margin-left: -130px;
        margin-top: -200px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
}
/* i5 */
@media screen and (min-height: 481px) and (max-height: 568px){
    #haibao{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        overflow: hidden;
        background-color: rgba(0,0,0,.5);
        display: none;
    }
    #haibaoContent{
        width: 320px;
        height: 420px;
        margin-left: -160px;
        margin-top: -210px;
        position: absolute;
        top: 50%;
        left:50%; 
    }
    #neirong{
        width: 290px;
        height: 450px;
        margin-left: -145px;
        margin-top: -225px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    #logo{
        width: 314px;
        height: 56px;
        margin-left: -157px;
        margin-top: -28px;
        position: absolute;
        left: 50%;
        top: 95%;
    }
    #title{
        width: 312px;
        height: 160px;
        margin-left: -156px;
        margin-top: -80px;
        position: absolute;
        top: -10%;
        left: 50%;
    }
    #gouBtn,#xijieBtn,#iLikeBtn{
        width: 80px;
        height: 80px;
        margin-left: -40px;
        margin-top: -40px;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
    }
    /*#iLikeBtn{
        top: 70%;
        left: 50%;
    }
    #gouBtn{
        top: 45%;
        left: 14%;
    }
    #xijieBtn{
        top: 74%;
        left: 15%;
    }*/
    .carrond1,.carrond2,.carrond5{
        width: 90px;
        height:90px;
        background: url("../res/carround.png");
        background-size: 100% 100%;
        position: absolute;
        margin-left: -45px;
        margin-top: -45px;
        display: none;

        animation:r1first 60s infinite linear;
        -webkit-animation:r1first 60s infinite linear;
    }
    .carrond3,.carrond4,.carrond6{
        width: 80px;
        height:80px;
        background: url("../res/carround.png");
        background-size: 100% 100%;
        position: absolute;
        margin-left: -40px;
        margin-top: -40px;
        display: none;

        animation:r1firstR 60s infinite linear;
        -webkit-animation:r1firstR 60s infinite linear;
    }
    #moveToRight1,#moveToRight2{
        width: 320px;
        height: 100px;
        margin-top: -50px;
        position: absolute;
        top: 30%;
    }
    #moveToRight1{
        left: 0%;
    }
    #moveToRight2{
        left: -100%;
    }
    #checkArr{
        width: 320px;
        height: 180px;
        margin-left: -160px;
        margin-top: -90px;
        position: absolute;
        top: 83%;
        left: 50%;
        /*border: 1px solid red;*/
        background: url(../res/checkBg.png) no-repeat;
        background-size: 320px 180px;
    }
    #check1,#check2,#check3,#check4,#check1Y,#check2Y,#check3Y,#check4Y,#check1N,#check2N,#check3N,#check4N{
        width: 150px;
        height: 65px;
        /*border: 1px solid blue;*/
        color: white;
        line-height: 30px;
        text-align: center;
        z-index: 1000;
    }
    /* 常态 */
    #check1Y,#check2Y,#check3Y,#check4Y,#check1N,#check2N,#check3N,#check4N{
        display: none;
    }
    #check1{
        margin-left: 10px;
        margin-top:-128px;
        float: left;
        background: url(../res/checkBg1.png) no-repeat;
        background-size: 150px 65px;
    }
    #check2{
        margin-left: 165px;
        margin-top: -128px;
        background: url(../res/checkBg2.png) no-repeat;
        background-size: 150px 65px;
    }
    #check3{
        margin-left: 10px;
        margin-top: -62px;
        float: left;
        background: url(../res/checkBg3.png) no-repeat;
        background-size: 150px 65px;
    }
    #check4{
        margin-left: 165px;
        margin-top: 1px;
        background: url(../res/checkBg4.png) no-repeat;
        background-size: 150px 65px;
    }
    /* 正确 */
    #check1Y{
        margin-left: 10px;
        margin-top: -130.5px;
        float: left;
        background: url(../res/checkBg1Y.png) no-repeat;
        background-size: 150px 65px;
    }
    #check2Y{
        margin-left: 165px;
        margin-top: -130.5px;
        background: url(../res/checkBg2Y.png) no-repeat;
        background-size: 150px 65px;
    }
    #check3Y{
        margin-left: 10px;
        margin-top: -64.5px;
        float: left;
        background: url(../res/checkBg3Y.png) no-repeat;
        background-size: 150px 65px;
    }
    #check4Y{
        margin-left: 165px;
        margin-top: -64.5px;
        background: url(../res/checkBg4Y.png) no-repeat;
        background-size: 150px 65px;
    }
    /* 错误 */
    #check1N{
        margin-left: 10px;
        margin-top: -130.5px;
        float: left;
        background: url(../res/checkBg1N.png) no-repeat;
        background-size: 150px 65px;
    }
    #check2N{
        margin-left: 165px;
        margin-top: -130.5px;
        background: url(../res/checkBg2N.png) no-repeat;
        background-size: 150px 65px;
    }
    #check3N{
        margin-left: 10px;
        margin-top: -64.5px;
        float: left;
        background: url(../res/checkBg3N.png) no-repeat;
        background-size: 150px 65px;
    }
    #check4N{
        margin-left: 165px;
        margin-top: -64.5px;
        background: url(../res/checkBg4N.png) no-repeat;
        background-size: 150px 65px;
    }
    #check11,#check21,#check31,#check41{
        display: block;
        /*border: 1px solid red;*/
        width: 130px;
        height: 50px;
        z-index: 10;
        color: rgba(0,0,0,0);
    }
    #check11{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-top: 35px;
        margin-left: 20px;
        float: left;
    }
    #check21{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-top: 35px;
        margin-left: 175px;
    }
    #check31{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-left: 20px;
        margin-top: 15px;
        float: left;
    }
    #check41{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-left: 175px;
        margin-top: 15px;
    }
}
/* i6 */
@media screen and (min-height: 569px) and (max-height: 667px){
    #haibao{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        overflow: hidden;
        background-color: rgba(0,0,0,.5);
        display: none;
    }
    #haibaoContent{
        margin-top: 60px;
        /*width: 352px;
        height: 460px;
        margin-left: -176px;
        margin-top: -230px;
        position: absolute;
        top: 50%;
        left:50%; */
    }
    #logo{
        width: 420px;
        height: 75px;
        margin-left: -210px;
        margin-top: -37px;
        position: absolute;
        left: 55%;
        top: 95%;
    }
    #title{
        width: 312px;
        height: 160px;
        margin-left: -156px;
        margin-top: -80px;
        position: absolute;
        top: -10%;
        left: 50%;
    }
    #gouBtn,#xijieBtn,#iLikeBtn{
        width: 80px;
        height: 80px;
        margin-left: -40px;
        margin-top: -40px;
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
    }
    /*#iLikeBtn{
        top: 70%;
        left: 50%;
    }
    #gouBtn{
        top: 45%;
        left: 14%;
    }
    #xijieBtn{
        top: 74%;
        left: 15%;
    }*/
    .carrond1,.carrond2,.carrond5{
        width: 90px;
        height:90px;
        background: url("../res/carround.png");
        background-size: 100% 100%;
        position: absolute;
        margin-left: -45px;
        margin-top: -45px;
        display: none;

        animation:r1first 60s infinite linear;
        -webkit-animation:r1first 60s infinite linear;
    }
    .carrond3,.carrond4,.carrond6{
        width: 80px;
        height:80px;
        background: url("../res/carround.png");
        background-size: 100% 100%;
        position: absolute;
        margin-left: -40px;
        margin-top: -40px;
        display: none;

        animation:r1firstR 60s infinite linear;
        -webkit-animation:r1firstR 60s infinite linear;
    }
    #moveToRight1,#moveToRight2{
        width: 370px;
        height: 100px;
        margin-top: -50px;
        position: absolute;
        top: 30%;
    }
    #moveToRight1{
        left: 0%;
    }
    #moveToRight2{
        left: -100%;
    }
    #checkArr{
        width: 360px;
        height: 220px;
        margin-left: -180px;
        margin-top: -110px;
        position: absolute;
        top: 80%;
        left: 50%;
        /*border: 1px solid red;*/
        background: url(../res/checkBg.png) no-repeat;
        background-size: 360px 220px;
    }
    #check1,#check2,#check3,#check4,#check1Y,#check2Y,#check3Y,#check4Y,#check1N,#check2N,#check3N,#check4N{
        width: 180px;
        height: 65px;
        /*border: 1px solid blue;*/
        color: white;
        line-height: 30px;
        text-align: center;
        z-index: 1000;
    }
    /* 常态 */
    #check1Y,#check2Y,#check3Y,#check4Y,#check1N,#check2N,#check3N,#check4N{
        display: none;
    }
    #check1{
        margin-left: 0px;
        margin-top:-135px;
        float: left;
        background: url(../res/checkBg1.png) no-repeat;
        background-size: 180px 65px;
    }
    #check2{
        margin-left: 175px;
        margin-top: -135px;
        background: url(../res/checkBg2.png) no-repeat;
        background-size: 180px 65px;
    }
    #check3{
        margin-left: 0px;
        margin-top: -60px;
        float: left;
        background: url(../res/checkBg3.png) no-repeat;
        background-size: 180px 65px;
    }
    #check4{
        margin-left: 175px;
        margin-top: 10px;
        background: url(../res/checkBg4.png) no-repeat;
        background-size: 180px 65px;
    }
    /* 正确 */
    #check1Y{
        margin-left: 0px;
        margin-top: -139.5px;
        float: left;
        background: url(../res/checkBg1Y.png) no-repeat;
        background-size: 180px 65px;
    }
    #check2Y{
        margin-left: 175px;
        margin-top: -139.5px;
        background: url(../res/checkBg2Y.png) no-repeat;
        background-size: 180px 65px;
    }
    #check3Y{
        margin-left: 0px;
        margin-top: -64.5px;
        float: left;
        background: url(../res/checkBg3Y.png) no-repeat;
        background-size: 180px 65px;
    }
    #check4Y{
        margin-left: 175px;
        margin-top: -64.5px;
        background: url(../res/checkBg4Y.png) no-repeat;
        background-size: 180px 65px;
    }
    /* 错误 */
    #check1N{
        margin-left: 0px;
        margin-top: -139.5px;
        float: left;
        background: url(../res/checkBg1N.png) no-repeat;
        background-size: 180px 65px;
    }
    #check2N{
        margin-left: 175px;
        margin-top: -139.5px;
        background: url(../res/checkBg2N.png) no-repeat;
        background-size: 180px 65px;
    }
    #check3N{
        margin-left: 0px;
        margin-top: -64.5px;
        float: left;
        background: url(../res/checkBg3N.png) no-repeat;
        background-size: 180px 65px;
    }
    #check4N{
        margin-left: 175px;
        margin-top: -64.5px;
        background: url(../res/checkBg4N.png) no-repeat;
        background-size: 180px 65px;
    }
    #check11,#check21,#check31,#check41{
        display: block;
        /*border: 1px solid red;*/
        width: 130px;
        height: 50px;
        z-index: 10;
        color: rgba(0,0,0,0);
    }
    #check11{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-top: 65px;
        margin-left: 25px;
        float: left;
    }
    #check21{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-top: 65px;
        margin-left: 200px;
    }
    #check31{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-left: 25px;
        margin-top: 25px;
        float: left;
    }
    #check41{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-left: 200px;
        margin-top: 25px;
    }
}
/* i6p */
@media screen and (min-height: 668px) {
    #haibao{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        overflow: hidden;
        background-color: rgba(0,0,0,.5);
        display: none;
    }
    #haibaoContent{
        margin-top: 70px;
        /*width: 352px;
        height: 460px;
        margin-left: -176px;
        margin-top: -230px;
        position: absolute;
        top: 50%;
        left:50%;*/ 
    }
    #logo{
        width: 420px;
        height: 75px;
        margin-left: -210px;
        margin-top: -37px;
        position: absolute;
        left: 55%;
        top: 95%;
    }
    #title{
        width: 374px;
        height: 192px;
        margin-left: -187px;
        margin-top: -96px;
        position: absolute;
        top: -10%;
        left: 50%;
    }
    #gouBtn,#xijieBtn,#iLikeBtn{
        width: 100px;
        height: 100px;
        margin-left: -50px;
        margin-top: -50px;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
    }
    /*#iLikeBtn{
        top: 70%;
        left: 50%;
    }
    #gouBtn{
        top: 45%;
        left: 14%;
    }
    #xijieBtn{
        top: 73%;
        left: 15%;
    }*/
    .carrond1,.carrond2,.carrond5{
        width: 120px;
        height:120px;
        background: url("../res/carround.png");
        background-size: 100% 100%;
        position: absolute;
        margin-left: -60px;
        margin-top: -60px;
        display: none;

        animation:r1first 60s infinite linear;
        -webkit-animation:r1first 60s infinite linear;
    }
    .carrond3,.carrond4,.carrond6{
        width: 130px;
        height:130px;
        background: url("../res/carround.png");
        background-size: 100% 100%;
        position: absolute;
        margin-left: -65px;
        margin-top: -65px;
        display: none;

        animation:r1firstR 60s infinite linear;
        -webkit-animation:r1firstR 60s infinite linear;
    }
    #moveToRight1,#moveToRight2{
        width: 410px;
        height: 100px;
        margin-top: -50px;
        position: absolute;
        top: 30%;
    }
    #moveToRight1{
        left: 0%;
    }
    #moveToRight2{
        left: -100%;
    }
    #checkArr{
        width: 360px;
        height: 220px;
        margin-left: -180px;
        margin-top: -110px;
        position: absolute;
        top: 80%;
        left: 50%;
        /*border: 1px solid red;*/
        background: url(../res/checkBg.png) no-repeat;
        background-size: 360px 220px;
    }
    #check1,#check2,#check3,#check4,#check1Y,#check2Y,#check3Y,#check4Y,#check1N,#check2N,#check3N,#check4N{
        width: 180px;
        height: 65px;
        /*border: 1px solid blue;*/
        color: white;
        line-height: 30px;
        text-align: center;
        z-index: 1000;
    }
    /* 常态 */
    #check1Y,#check2Y,#check3Y,#check4Y,#check1N,#check2N,#check3N,#check4N{
        display: none;
    }
    #check1{
        margin-left: 0px;
        margin-top:-135px;
        float: left;
        background: url(../res/checkBg1.png) no-repeat;
        background-size: 180px 65px;
    }
    #check2{
        margin-left: 175px;
        margin-top: -135px;
        background: url(../res/checkBg2.png) no-repeat;
        background-size: 180px 65px;
    }
    #check3{
        margin-left: 0px;
        margin-top: -60px;
        float: left;
        background: url(../res/checkBg3.png) no-repeat;
        background-size: 180px 65px;
    }
    #check4{
        margin-left: 175px;
        margin-top: 10px;
        background: url(../res/checkBg4.png) no-repeat;
        background-size: 180px 65px;
    }
    /* 正确 */
    #check1Y{
        margin-left: 0px;
        margin-top: -139.5px;
        float: left;
        background: url(../res/checkBg1Y.png) no-repeat;
        background-size: 180px 65px;
    }
    #check2Y{
        margin-left: 175px;
        margin-top: -139.5px;
        background: url(../res/checkBg2Y.png) no-repeat;
        background-size: 180px 65px;
    }
    #check3Y{
        margin-left: 0px;
        margin-top: -64.5px;
        float: left;
        background: url(../res/checkBg3Y.png) no-repeat;
        background-size: 180px 65px;
    }
    #check4Y{
        margin-left: 175px;
        margin-top: -64.5px;
        background: url(../res/checkBg4Y.png) no-repeat;
        background-size: 180px 65px;
    }
    /* 错误 */
    #check1N{
        margin-left: 0px;
        margin-top: -139.5px;
        float: left;
        background: url(../res/checkBg1N.png) no-repeat;
        background-size: 180px 65px;
    }
    #check2N{
        margin-left: 175px;
        margin-top: -139.5px;
        background: url(../res/checkBg2N.png) no-repeat;
        background-size: 180px 65px;
    }
    #check3N{
        margin-left: 0px;
        margin-top: -64.5px;
        float: left;
        background: url(../res/checkBg3N.png) no-repeat;
        background-size: 180px 65px;
    }
    #check4N{
        margin-left: 175px;
        margin-top: -64.5px;
        background: url(../res/checkBg4N.png) no-repeat;
        background-size: 180px 65px;
    }
    #check11,#check21,#check31,#check41{
        display: block;
        /*border: 1px solid red;*/
        width: 130px;
        height: 50px;
        z-index: 10;
        color: rgba(0,0,0,0);
    }
    #check11{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-top: 65px;
        margin-left: 25px;
        float: left;
    }
    #check21{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-top: 65px;
        margin-left: 200px;
    }
    #check31{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-left: 25px;
        margin-top: 25px;
        float: left;
    }
    #check41{
        background: url(../res/checkArr/1.png) no-repeat;
        background-size: 130px 50px;
        margin-left: 200px;
        margin-top: 25px;
    }
}
/* 标题动画 */
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}
.bt {
  -webkit-animation: flipInX 3.5s infinite ease-in-out;
  animation: flipInX 3.5s infinite ease-in-out;
}
/* 转动 */
.carrond1,.carrond3{
    top: 45%;
    left: 14%;
}
.carrond2,.carrond4{
    top: 70%;
    left: 15%;
}
.carrond5,.carrond6{
    top: 78%;
    left: 50%;
}


/* 旋转1 */
@keyframes r1first
{
    0.01%   {transform:rotate(0deg);
        -webkit-transform:rotate(0deg);}
    100%  {transform:rotate(43200deg);
        -webkit-transform:rotate(43200deg);}
}

@-webkit-keyframes r1first /* Safari and Chrome */
{
    0.01%   {transform:rotate(0deg);
        -webkit-transform:rotate(0deg);}
    100%  {transform:rotate(43200deg);
        -webkit-transform:rotate(43200deg);}
}
/* 旋转2 */
@keyframes r1firstR
{
    0.01%   {transform:rotate(0deg);
        -webkit-transform:rotate(0deg);}
    100%  {transform:rotate(-43200deg);
        -webkit-transform:rotate(-43200deg);}
}

@-webkit-keyframes r1firstR /* Safari and Chrome */
{
    0.01%   {transform:rotate(0deg);
        -webkit-transform:rotate(0deg);}
    100%  {transform:rotate(-43200deg);
        -webkit-transform:rotate(-43200deg);}
}
/* 首页 */
#mainDiv{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}
#startBtn{
    width: 130px;
    height: 130px;
    margin-left: -65px;
    margin-top: -65px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
}

/*游戏页*/
#gameDiv{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}
#zhen22{
    width: 75px;
    height: 139px;
    margin-left: -38px;
    margin-top: -69px;
    position: absolute;
    top: 10%;
    left: 25%;
    z-index: 100;

    transform:rotate(50deg);
    -moz-transform:rotate(50deg); /* Firefox */
    -webkit-transform:rotate(50deg); /* Safari 和 Chrome */
    -o-transform:rotate(50deg); /* Opera */
}
.ClasszhenRotate{
    -webkit-animation: zhenRotate 1.6s 1;
}
@-webkit-keyframes zhenRotate  { 
    0% { -webkit-transform:rotate(50deg)}
    100% { -webkit-transform:rotate(0deg)}
}
#startGameBtn{
    width: 110px;
    height: 120px;
    margin-left: -55px;
    margin-top: -60px;
    position: absolute;
    top: -10%;
    left: 50%;
    z-index: 100;
}
.motion100{
-webkit-animation: motionAnia 1s 1 linear;
}
@-webkit-keyframes motionAnia  { 
0% { -webkit-transform:rotateX(0deg)}
50% { -webkit-transform:rotateX(45deg)}
100% { -webkit-transform:rotateX(90deg)}
}
.motion101{
-webkit-animation: motionAnib 0.5s 1 linear;
}
@-webkit-keyframes motionAnib  { 
0% { -webkit-transform:rotateX(90deg)}
50% { -webkit-transform:rotateX(45deg)}
100% { -webkit-transform:rotateX(0deg)}
}
#shuoming{
    width: 320px;
    height: 160px;
    margin-left: -160px;
    margin-top: -80px;
    position: absolute;
    top: 80%;
    left: 50%;

    -webkit-animation: zoomIn 1.5s 1 ease-in-out;
      animation: zoomIn 1.5s 1 ease-in-out;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}
/*游戏主页*/
#gameMain{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none;
}

/* <i5 */
@media screen and (max-height: 568px){
    #middle{
        width: 230px;
        height: 230px;
        margin-left: -115px;
        margin-top: -115px;
        position: absolute;
        top: 35%;
        left: 50%;
    }
    #scoreDiv{
        width: 128px;
        height: 30px;
        margin-left: -64px;
        margin-top: -15px;
        position: absolute;
        top: 56%;
        left: 28%;
        /*border: 1px solid red;*/
        line-height: 30px;
        background: url(../res/scoreDivBg.png) no-repeat;
        background-size: 128px 30px;
    }
    #scoreDivNum{
        display: block;
        width: 38px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
        /*border: 1px solid blue;*/
        margin-left: 50px;
        margin-top: 1px;
        text-align: center;
        color: white;
    }
    #timeDiv{
        width: 128px;
        height: 30px;
        margin-left: -64px;
        margin-top: -15px;
        position: absolute;
        top: 56%;
        left: 72%;
        /*border: 1px solid blue;*/
        text-align: center;
        background: url(../res/4.png) no-repeat;
        background-size: 128px 30px;
    }
    #timeDivTitle{
        display: block;
        width: 33px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
        /*border: 1px solid blue;*/
        margin-left: 52px;
        margin-top: -25px;
        text-align: center;
        color: white;
        /*float: left;*/
    }
    #timeDivNum{
        display: block;
        width: 35px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
        /*border: 1px solid blue;*/
        margin-left: 85px;
        margin-top: 1px;
        text-align: center;
        color: white;
    }
    #zhen{
        width: 130px;
        height: 130px;
        margin-left: -85px;
        margin-top: -85px;
        position: absolute;
        top: 15%;
        left: 33%;
        z-index: 60;
    }
    #guang{
        width: 90px;
        height: 90px;
        margin-left: -45px;
        margin-top: -45px;
        position: absolute;
        top: 10%;
        left: 30%;
        z-index: 50;
    }
    #yinfu{
        width: 125px;
        height: 125px;
        margin-left: -62.5px;
        margin-top: -62.5px;
        position: absolute;
        top: 23%;
        left: 50%;
        z-index: 11;
    }
    #yinfuBg{
        width: 200px;
        height: 200px;
        margin-left: -100px;
        margin-top: -100px;
        position: absolute;
        top: 23%;
        left: 50%;
        z-index: 10;
        background: url("../res/yinfuBg.png");
        background-size: 100% 100%;

        animation:r1firstR 100s infinite linear;
        -webkit-animation:r1firstR 100s infinite linear;
    }
    #round1{
        width: 271px;
        height: 178px;
        margin-left: -135px;
        margin-top: -89px;
        position: absolute;
        background: url("../res/round1.png");
        background-size: 100% 100%;
        top: 23%;
        left: 50%;

        animation:r1first 600s infinite linear;
        -webkit-animation:r1first 600s infinite linear;
    }
    /* 结束页面 */
    #endPage{
        background:rgba(99,255,141,1);
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        z-index:200;
        display: none;
        overflow: hidden;
    }
    #content{
        width: 300px;
        height: 400px;
        margin-left: -150px;
        margin-top: -200px;
        position: absolute;
        top: 50%;
        left: 50%;
        /*border: 1px solid red;*/
        background: url(../res1/contentBg.png) no-repeat;
        background-size: 300px 400px;
    }
    #close{
        width: 50px;
        height: 50px;
        margin-left: 240px;
        margin-top: 0px;
    }
    #addForHim{
        width: 200px;
        height: 40px;
        margin-left: 60px;
        margin-top: 55px;
        text-align: center;
        border: 1px solid blue;
        border-color: rgba(0,0,0,0);
        line-height: 30px;
        font-size: 30px;
        display: block;
    }
    #scoreBai,#scoreShi,#scoreGe,#fen,#scoreBai1,#scoreShi1,#scoreGe1,#fen1{
        display: block;
        width: 30px;
        height: 30px;
    }
    #scoreBai,#scoreBai1{
        margin-left: 10px;
        margin-top: 5px;
        float: left;
        /*border: 1px solid red;*/
        background: url(../num/1.png) no-repeat;
        background-size: 30px 30px;
    }
    #scoreShi,#scoreShi1{
        margin-left: 10px;
        margin-top: 5px;
        float: left;
        /*border: 1px solid green;*/
        background: url(../num/1.png) no-repeat;
        background-size: 30px 30px;
    }
    #scoreGe,#scoreGe1{
        margin-left: 100px;
        margin-top: 5px;
        /*border: 1px solid blue;*/
        background: url(../num/1.png) no-repeat;
        background-size: 30px 30px;
    }
    #fen,#fen1{
        margin-left: 145px;
        margin-top: -32px;
        /*border: 1px solid yellow;*/
        background: url(../num/fen.png) no-repeat;
        background-size: 30px 30px;
    }
    #Appraisal{
        width: 130px;
        height: 40px;
        margin-left: 90px;
        margin-top: 23px;
        text-align: center;
        line-height: 30px;
        font-size: 25px;
        /*border: 1px solid blue;*/
        background: url(../pingjia/1.png) no-repeat;
        background-size: 130px 40px;
        display: block;
        /*padding-top: 5px;*/
    }
    #addForSelf{
        width: 200px;
        height: 40px;
        margin-left: 60px;
        margin-top: -0px;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        border: 1px solid blue;
        border-color: rgba(0,0,0,0);
        display: block;
    }
    #endLikeBtn{
        width: 260px;
        height: 66px;
        margin-top: 30px;
        margin-left: 20px;
        border: 1px solid red;
        border-color: rgba(0,0,0,0);
    }
    #endTellBtnLeft{
        width: 120px;
        height: 50px;
        /*border: 1px solid blue;*/
        margin-left: 10px;
        margin-top: 8px;
        float: left;
    }
    #endTellBtnRight{
        width: 120px;
        height: 50px;
        /*border: 1px solid yellow;*/
        margin-left: 130px;
        margin-top: 8px;
    }
    #yiji{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0%;
        left: 0%;
        display: none;
        z-index: 1000;
    }
    #yijiContent{
        width: 100px;
        height: 100px;
        margin-left: -50px;
        margin-top: -50px;
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
    }
}
/* <i6p */
@media screen and (min-height: 569px){
    #middle{
        width: 280px;
        height: 280px;
        margin-left: -140px;
        margin-top: -140px;
        position: absolute;
        top: 33%;
        left: 50%;
    }
    #scoreDiv{
        width: 170px;
        height: 35px;
        margin-left: -85px;
        margin-top: -17.5px;
        position: absolute;
        top: 56%;
        left: 26%;
        /*border: 1px solid red;*/
        line-height: 30px;
        background: url(../res/scoreDivBg.png) no-repeat;
        background-size: 170px 35px;
    }
    #scoreDivNum{
        display: block;
        width: 38px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
        /*border: 1px solid blue;*/
        margin-left: 80px;
        margin-top: 3px;
        text-align: center;
        color: white;
    }
    #timeDiv{
        width: 170px;
        height: 35px;
        margin-left: -85px;
        margin-top: -17.5px;
        position: absolute;
        top: 56%;
        left: 75%;
        /*border: 1px solid blue;*/
        text-align: center;
        background: url(../res/4.png) no-repeat;
        background-size: 170px 35px;
    }
    #timeDivTitle{
        display: block;
        width: 33px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
        /*border: 1px solid blue;*/
        margin-left: 60px;
        margin-top: -25px;
        text-align: center;
        color: white;
        /*float: left;*/
    }
    #timeDivNum{
        display: block;
        width: 35px;
        height: 25px;
        font-size: 25px;
        line-height: 25px;
        /*border: 1px solid blue;*/
        margin-left: 95px;
        margin-top: 4px;
        text-align: center;
        color: white;
    }
    #zhen{
        width: 150px;
        height: 150px;
        margin-left: -75px;
        margin-top: -75px;
        position: absolute;
        top: 10%;
        left: 30%;
        z-index: 60;
    }
    #guang{
        width: 90px;
        height: 90px;
        margin-left: -45px;
        margin-top: -45px;
        position: absolute;
        top: 10%;
        left: 30%;
        z-index: 50;
    }
    #yinfu{
        width: 125px;
        height: 125px;
        margin-left: -62.5px;
        margin-top: -62.5px;
        position: absolute;
        top: 23%;
        left: 50%;
        z-index: 11;
    }
    #yinfuBg{
        width: 200px;
        height: 200px;
        margin-left: -100px;
        margin-top: -100px;
        position: absolute;
        top: 23%;
        left: 50%;
        z-index: 10;
        background: url("../res/yinfuBg.png");
        background-size: 100% 100%;

        animation:r1firstR 100s infinite linear;
        -webkit-animation:r1firstR 100s infinite linear;
    }
    #round1{
        width: 271px;
        height: 178px;
        margin-left: -135px;
        margin-top: -89px;
        position: absolute;
        background: url("../res/round1.png");
        background-size: 100% 100%;
        top: 23%;
        left: 50%;

        animation:r1first 600s infinite linear;
        -webkit-animation:r1first 600s infinite linear;
    }
    /* 结束页面 */
    #endPage{
        background:rgba(99,255,141,1);
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
        z-index:200;
        display: none;
    }
    #content{
        width: 400px;
        height: 520px;
        margin-left: -200px;
        margin-top: -260px;
        position: absolute;
        top: 50%;
        left: 50%;
        /*border: 1px solid red;*/
        background: url(../res1/contentBg.png) no-repeat;
        background-size: 400px 520px;
    }
    #close{
        width: 50px;
        height: 50px;
        margin-left: 340px;
        margin-top: 0px;
    }
    #addForHim{
        width: 200px;
        height: 40px;
        margin-left: 120px;
        margin-top: 95px;
        text-align: center;
        border: 1px solid blue;
        border-color: rgba(0,0,0,0);
        line-height: 30px;
        font-size: 30px;
        display: block;
    }
    #scoreBai,#scoreShi,#scoreGe,#fen,#scoreBai1,#scoreShi1,#scoreGe1,#fen1{
        display: block;
        width: 30px;
        height: 30px;
    }
    #scoreBai,#scoreBai1{
        margin-left: 10px;
        margin-top: 5px;
        float: left;
        /*border: 1px solid red;*/
        background: url(../num/1.png) no-repeat;
        background-size: 30px 30px;
    }
    #scoreShi,#scoreShi1{
        margin-left: 10px;
        margin-top: 5px;
        float: left;
        /*border: 1px solid green;*/
        background: url(../num/1.png) no-repeat;
        background-size: 30px 30px;
    }
    #scoreGe,#scoreGe1{
        margin-left: 100px;
        margin-top: 5px;
        /*border: 1px solid blue;*/
        background: url(../num/1.png) no-repeat;
        background-size: 30px 30px;
    }
    #fen,#fen1{
        margin-left: 145px;
        margin-top: -32px;
        /*border: 1px solid yellow;*/
        background: url(../num/fen.png) no-repeat;
        background-size: 30px 30px;
    }
    #Appraisal{
        width: 130px;
        height: 40px;
        margin-left: 140px;
        margin-top: 38px;
        text-align: center;
        line-height: 40px;
        /*font-size: 25px;*/
        /*border: 1px solid blue;*/
        background: url(../pingjia/1.png) no-repeat;
        background-size: 130px 40px;
        display: block;
    }
    #addForSelf{
        width: 200px;
        height: 40px;
        margin-left: 120px;
        margin-top: 48px;
        text-align: center;
        line-height: 40px;
        font-size: 30px;
        border: 1px solid blue;
        border-color: rgba(0,0,0,0);
        display: block;
    }
    #endLikeBtn{
        width: 260px;
        height: 66px;
        margin-top: 30px;
        margin-left: 70px;
        border: 1px solid red;
        border-color: rgba(0,0,0,0);
    }
    #endTellBtnLeft{
        width: 120px;
        height: 50px;
        /*border: 1px solid blue;*/
        margin-left: 0px;
        margin-top: 8px;
        float: left;
    }
    #endTellBtnRight{
        width: 120px;
        height: 50px;
        /*border: 1px solid yellow;*/
        margin-left: 130px;
        margin-top: 8px;
    }
    #yiji{
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0%;
        left: 0%;
        display: none;
        z-index: 1000;
    }
    #yijiContent{
        width: 100px;
        height: 100px;
        margin-left: -50px;
        margin-top: -50px;
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
    }
    /* 细节页面的内容 */
    #neirong{
        width: 348px;
        height: 540px;
        margin-left: -174px;
        margin-top: -270px;
        position: absolute;
        top: 45%;
        left: 50%;
    }
    /* 结束页面 */
}
/* 细节页面 */
#XJDiv{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
    display: none;
    overflow: hidden;
}
#seeAll{
    width: 240px;
    height: 64px;
    margin-left: -120px;
    margin-top: -32px;
    position: absolute;
    top: 45%;
    left: 50%;
}
/* 细节页面 */
/* 开始按钮动画 */
@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(1) }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
 
@keyframes scaleout {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* infinite */
.st {
  -webkit-animation: scaleout 2.5s infinite ease-in-out;
  animation: scaleout 2.5s infinite ease-in-out;
}