<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ba.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,95},{260,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,340}}</string>
                <key>sourceSize</key>
                <string>{260,340}</string>
            </dict>
            <key>btn_lj.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,561},{332,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,100}}</string>
                <key>sourceSize</key>
                <string>{332,100}</string>
            </dict>
            <key>btn_ph.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,663},{131,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,135}}</string>
                <key>sourceSize</key>
                <string>{131,135}</string>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,663},{229,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,235}}</string>
                <key>sourceSize</key>
                <string>{229,235}</string>
            </dict>
            <key>btn_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,459},{332,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,100}}</string>
                <key>sourceSize</key>
                <string>{332,100}</string>
            </dict>
            <key>btn_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,771},{131,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,135}}</string>
                <key>sourceSize</key>
                <string>{131,135}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,357},{332,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,100}}</string>
                <key>sourceSize</key>
                <string>{332,100}</string>
            </dict>
            <key>duang.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,95},{38,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,55}}</string>
                <key>sourceSize</key>
                <string>{40,55}</string>
            </dict>
            <key>jdt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{339,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,12}}</string>
                <key>sourceSize</key>
                <string>{339,12}</string>
            </dict>
            <key>jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,152},{25,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,333}}</string>
                <key>sourceSize</key>
                <string>{25,333}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{242,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,91}}</string>
                <key>sourceSize</key>
                <string>{242,91}</string>
            </dict>
            <key>small_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{94,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,210}}</string>
                <key>sourceSize</key>
                <string>{94,210}</string>
            </dict>
            <key>time.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{390,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,91}}</string>
                <key>sourceSize</key>
                <string>{390,91}</string>
            </dict>
            <key>tk_report.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{606,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{606,595}}</string>
                <key>sourceSize</key>
                <string>{606,595}</string>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,771},{165,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,165}}</string>
                <key>sourceSize</key>
                <string>{165,165}</string>
            </dict>
            <key>zhiyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,599},{170,174}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pack.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:299608621206521902bcc409e0e0e5d2$</string>
            <key>textureFileName</key>
            <string>pack.png</string>
        </dict>
    </dict>
</plist>
