<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{590,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,298}}</string>
                <key>sourceSize</key>
                <string>{590,298}</string>
            </dict>
            <key>bird1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,962},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>bird2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,962},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>bird3.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,962},{86,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,60}}</string>
                <key>sourceSize</key>
                <string>{86,60}</string>
            </dict>
            <key>click.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,508},{286,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,246}}</string>
                <key>sourceSize</key>
                <string>{286,246}</string>
            </dict>
            <key>flappybird.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,298},{464,138}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{464,138}}</string>
                <key>sourceSize</key>
                <string>{508,158}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,298},{498,134}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{498,134}}</string>
                <key>sourceSize</key>
                <string>{508,158}</string>
            </dict>
            <key>getready.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,0},{508,144}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{508,144}}</string>
                <key>sourceSize</key>
                <string>{508,158}</string>
            </dict>
            <key>grade.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,801},{290,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,176}}</string>
                <key>sourceSize</key>
                <string>{290,176}</string>
            </dict>
            <key>gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,794},{123,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,113}}</string>
                <key>sourceSize</key>
                <string>{123,113}</string>
            </dict>
            <key>holdback1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,801}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,801}}</string>
                <key>sourceSize</key>
                <string>{130,801}</string>
            </dict>
            <key>holdback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,0},{129,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,800}}</string>
                <key>sourceSize</key>
                <string>{129,800}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,796},{284,166}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{284,166}}</string>
                <key>sourceSize</key>
                <string>{290,176}</string>
            </dict>
            <key>yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,436},{111,111}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{123,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>flappy_packer.png</string>
        </dict>
    </dict>
</plist>
