---
layout: default 
---
<header class="bloghead">
    <h1 class="bloghead-title">
    <a href="{{ site.url }}/">{{ site.name }}<span>&#39;s blog</span></a>
  </h1>
    <nav class="bloghead-nav">
        {% for nav in site.nav %}
        <a href="{{ nav.href }}">{{ nav.name }}<span> &nbsp;/&nbsp; </span></a> {% endfor %}
    </nav>
</header>
<div class="content">
    {% if site.posts.size == 0 %}
    <h2>No post found</h2> {% else %} {% for post in paginator.posts %}
    <div class="post-list">
        <h2 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2> {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %}
        <div class="post-date">
            <time>{{ post.date | date_to_string }}</time>
        </div>
    </div>
    {% endfor %} {% if paginator.total_pages > 1 %}
    <div class="pages">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><</a>
      {% endif %}

      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">></a>
      {% endif %}
    </div>
    {% endif %}
  {% endif %}
</div>
